
Podfile.lock
/Pods/*
iSistemiumCore/Frameworks/ScanAPI/*
*.xcbkptlist
.DS_Store
.idea
node_modules
iSistemiumCore/Resources/DEMO/
iSistemiumCore/Resources/iSisSales-DEMO.db
iSistemiumCore/Resources/GoogleService-Info.plist
